@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@100;300;400;500;700;900&family=Sedgwick+Ave&family=Signika+Negative:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./pages/menu/Menu.css");
@import url("./pages/home/home.css");

html {
  font-family: "Poppins", sans-serif;
}


.transition {
  transition: 0.5s all;
}
