@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@100;300;400;500;700;900&family=Sedgwick+Ave&family=Signika+Negative:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./pages/menu/Menu.css");
@import url("./pages/home/home.css");
@import url("./pages/users/users.css");

html {
  font-family: "Poppins", sans-serif;
}

/* *set scrollBar for site */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: rgb(248, 248, 248);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(35, 35, 35);
  border-radius: 20px;
  border: 1px solid rgb(184, 184, 184);
}

.rainbow {
  background: url("./assets/colorCircle.jpg") center;
  background-size: cover;
}

.productCard {
  background: url("./assets/productilusCard.png") center;
  background-size: cover;
}

.dataDetail {
  @apply mx-2 flex-auto text-left font-semibold sm:text-center;
}

.transition {
  transition: 0.5s all;
}

.neumorphism-shadow {
  box-shadow:  25px 25px 50px #676767,
             -25px -25px 50px #b29b9b;
}

.neumorphism-shadow-left {
  box-shadow:  -25px 25px 50px #676767,
             25px -25px 50px #b29b9b;
}